// Colors //
$primary-color: #5474fd;
$secondary-color: #232323;
$three-color: #342c2c;
$four-color:#333333;
// Fonts //
$primary-font-color: #ffffff;
$secondary-font-color: #f0d8d9;
$descr-font-color: #342c2c;
$font-family: "Lato", sans-serif;

// Icons //
$icomoon-font-family: "singolo-icons" !default;
$icomoon-font-path: "fonts/singolo-icons" !default;

$icon-star: "\e900";
$icon-bubble: "\e901";
$icon-phone: "\e902";
$icon-heart: "\e903";
$icon-bulb: "\e904";
$icon-pen: "\e905";
